<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.6/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-text" target="tests/testdox.txt"/>
    </logging>
</phpunit>