<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
    backupGlobals="true"
    bootstrap="tests/init.php">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxText outputFile="tests/result/testdox.txt" />
    </logging>
    <coverage>
        <report>
            <text outputFile="tests/result/coverage.txt" />
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
